header h1 {
  position: fixed;
  top: 10px;
  border: 1px solid #bfdbfe;
  padding: 1vh;
  text-align: center;
  border-radius: 5px;
  background-color: #60a5fa;
  color: #1e3a8a;
  z-index: 1;
}
header {
  /* margin: 1vh; */
  padding: 2vh;
  height: 60vh;
  gap: 2vh;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
