@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(211, 211, 211);
}

h1 {
  font-weight: 700;
  font-size: xx-large;
}

h3 {
  font-weight: 500;
  font-size: x-large;
}

button{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
button:hover{
    background-color: #dc2626;
}
.line{
    width: 70%;
    height: 1px;
    border-radius: 5px;
    border: 1px solid #dc2626;
    align-self: center;
}